/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

body {
    font-family: 'Cinzel', serif;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: white;
    margin-top: 20px;
}

h4{
    color: white;
}

#container {
    display: flex;
    justify-content: center;
}

#login {
    display: flexbox;
    text-align: center;
    width: 590px;
    background-color: rgba(0, 0, 0, 0.53);
    margin-top: 150px;
    border: solid white 2px;
}



#medidorPoder {
    margin-top: 10px;
    height: 20px;
    width: 0;
    background-color: gray;
    transition: width 0.3s, background-color 0.3s;

}

#requisitos {
    margin: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.requisito {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.vermelho {
    color: red;
    transition: color 0.3s;
}

.verde {
    color: green;
    transition: color 0.3s;
}

#textoPoder {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

#mostrarSenha {
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    color: green;
}

#mostrarSenha:hover{
    color: red;
    transition: color 0.5s;
}

.input-group {
    position: relative;
   }
   
   input {
    font-family: 'Cinzel', serif;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 30px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    
  }
  
  input:focus {
    border-bottom: 2px solid green;
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }